{% load static %}

<link href="{% static 'styles/navbar.css' %}" rel="stylesheet">

<header>
    <nav class="navbar-container">

        <a class="navbar-logo" href="{% url 'start' %}">
            <img src="{% static 'images/heart-logo.svg' %}" alt="NinerFit logo." width="50" height="50">
            <h2>NinerFit</h2>
        </a>
        
        <div class="navbar-links">
            {% if request.user.is_authenticated %}
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'health_score' %}">Health Score</a>
            <a href="{% url 'to-do-list' %}">To-do List</a>
            <a href="">Suggestions</a>
            <a href="{% url 'chatbot' %}">Chatbot</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="">Settings</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>

    </nav>
</header>