{% load static %}

<link href="{% static 'styles/navbar.css' %}" rel="stylesheet">

<header>
    <nav class="navbar-container">
        <div class="navbar-header">
            <a class="navbar-logo" href="{% url 'start' %}">
                <img src="{% static 'images/monitoring-health-solid-svgrepo-com-white.svg' %}" alt="NinerFit logo." width="70" height="70">
                <h1>NinerFit</h1>
            </a>
            <button class="navbar-toggler">
                <div></div>
                <div></div>
                <div></div> 
            </button>
        </div>
        <div class="navbar-links">
            {% if request.user.is_authenticated %}
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'health_score' %}">Health Score</a>
            <a href="{% url 'to-do-list' %}">To-do List</a>
            <a href="{% url 'chatbot' %}">Chatbot</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
</header>

<script>
    const navbarToggler = document.querySelector('.navbar-toggler');
    const navbarLinks = document.querySelector('.navbar-links');

    navbarToggler.addEventListener('click', () => {
    navbarLinks.classList.toggle('show');
    });
</script>