Design Sprint/.DS_Store
Design Sprint/DesignSprint1/.DS_Store
Design Sprint/DesignSprint1/Nguyen-DesSprintDay 1/Assignment 5-2_ Benjamin Nguyen.pdf
Design Sprint/DesignSprint3/.DS_Store
Design Sprint/DesignSprint3/Kento_Hopkins_Design_Sprint_3.pdf
Design Sprint/DesignSprint3/Nguyen-Benjamin Design Sprint 3.png

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/