.body {
    text-align: center;
}

.suggestions-container {
    margin: 10px;
    max-width: 400px;
}

.suggestions-header {
    text-align: center;
    font-size: xx-large;
}

.suggestions-list {
    list-style: square;
}