.body {
    text-align: center;
}
/* 
.todolist-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 400px;
    gap: 1em;
} */

.todolist-tasks > li {
    border-bottom: 1px solid lightgray;
}

.todolist-tasks > li:last-child {
    border-bottom: none;
}