{% extends 'base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block styles %}<link href="{% static 'styles/login_register.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
<div class="register-container">
  <div class="card">
    <div class="card-header custom-header">Register</div>
    <div class="card-body">
      <p>Enter your email to sign up for this app.</p>
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        <button type="submit" style="background-color: #023f10; color: #FFD700;">Register</button>
      </form>
      <a style="color: #FFD700;" href="{% url 'login' %}"><small>Already signed up?</small></a>
    </div>
  </div>
</div>
{% endblock %}