<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NinerFit App</title>
    <!-- Static files -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' ? now 'U' %}">

</head>
<body>
    

    <div class="landing-page-container">
        
        <h1>NinerFit</h1>

        <img class="heart-logo" src="{% static 'images/heart-logo.svg' %}">

        <a href="{% url 'home' %}" class="button">Start</a>

        <a href="{% url 'login' %}" class="button">Login/Register</a>
        
    </div>
</body>
</html>
