<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NinerFit App</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>
<body>
    <h1>NinerFit</h1>

    <img>

    <div class="landing-page-container">
        <form action="">
            <input type="button" value="Start">
            <input type="button" value="Login/Register">
        </form>
    </div>
</body>
</html>
